<% unless signed_in? %>
    <div class="p-5 mb-4 bg-light rounded-3 text-center">
        <h1>Welcome to the Microblog!</h1>
            <h2>Sign in and share your thoughts</h2>
            <p>
                <%= link_to "Sign in", signin_path, class: "btn btn-primary btn-lg", role: "button" %>
                <%= link_to "Sign up", signup_path, class: "btn btn-secondary btn-lg", role: "button" %>
            </p>
    </div>
<% else %>
    <div class="row d-flex">
        <div class="col-md-4 col-xl-4 justify-content-center align-items-center">
            <%= render "users/user", user: current_user %>
            <div class="mt-3">
                <%= render "shared/post_form" %> 
            </div> 
        </div>
        <% if @feed_items.any? %>
            <div class="col-md-8 col-xl-8">
                <h3>Post feed (<%= @feed_items.count %>)</h3>
                <%= will_paginate @feed_items, list_classes: %w(pagination justify-content-start) %> 
                <% @feed_items.each do |post| %>
                    <%= render post %>
                <% end %>
                <%= will_paginate @feed_items, list_classes: %w(pagination justify-content-start) %>
            </div>
        <% end %>
    </div>
<% end %>
<%= render "shared/modals/post_delete" %>
<%= javascript_include_tag "delete-post.js" %>
