<% provide(:title, "Sign in")%>

<div class="container-fluid">
    <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
                <h3 class="text-primary">Sign In</h3>
            </div>
            <%= form_with scope: :session, url: signin_path do |form| %>
                <div class="mb-3 mt-3">
                    <%= form.label :email, class: "form-label" %>
                    <%= form.email_field :email, placeholder: "Enter email", class: "form-control" %>
                </div>
                <div class="mb-3">
                    <%= form.label :password, class: "form-label" %>
                    <small>(<%= link_to "forgot password", new_password_reset_path %>)</small>
                    <%= form.password_field :password, placeholder: "And password", class: "form-control" %>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col d-flex">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <%= form.check_box :remember_me, class: "form-check-input" %> 
                            <%= form.label "Remember me on this device", class: "form-check-label" %>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
                <p>
                    <div class="text-center">
                        Not a member? Please <%= link_to "Sign up", signup_path %>
                    </div>
                </p>
            <% end %>
        </div>
    </div>
</div>