<% provide(:title, "Reset Password")%>

<div class="container-fluid">
    <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
                <h3 class="text-primary">Reset Password</h3>
            </div>
            <%= form_with model: @user, url: password_reset_path do |form| %>

                <%= render "shared/form_errors", errors: @user.errors %>

                <%= hidden_field_tag :email, @user.email %>

                <div class="mb-3">
                    <%= form.label :password, class: "form-label" %>
                    <%= form.password_field :password, placeholder: :password, class: "form-control" %>
                </div>
                <div class="mb-3">
                    <%= form.label :password_confirmation, class: "form-label" %>
                    <%= form.password_field :password_confirmation, placeholder: :password_confirmation, class: "form-control" %>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
                <p>
                    <div class="text-center">
                        Remember the password? Please <%= link_to "Sign In", signin_path %>
                    </div>
                </p>
            <% end %>
        </div>
    </div>
</div>