<% provide(:title, "Forgot password")%>

<div class="container-fluid">
    <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
                <h3 class="text-primary">Forgot password</h3>
            </div>
            <%= form_with scope: :password_reset, url: password_resets_path, local: true, data: { turbo: false } do |form| %>
                <div class="mb-3 mt-3">
                    <%= form.label :email, class: "form-label" %>
                    <%= form.email_field :email, placeholder: "Enter email", class: "form-control" %>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
                <p>
                    <div class="text-center">
                        Remember the password? Please <%= link_to "Sign In", signin_path %>
                    </div>
                </p>
            <% end %>
        </div>
    </div>
</div>