<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      <%= @greeting %>
    </h1>
    <p>
      Welcome to the Microblog! Click <%= link_to "here", edit_email_confirmation_url(@user.confirmation_token, email: @user.email) %> to confirm your email
    </p>
  </body>
</html>