<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      <%= @greeting %>
    </h1>

    <p>
      Click <%= link_to "here", edit_password_reset_url(@user.reset_token, email: @user.email) %> to reset your password
    </p>
    <p>
      This link will expire in two hours.
    </p>
    <p>
      If you did not request your password to be reset, please ignore this email and your password will stay as it is.
    </p>
  </body>
</html>