<div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="delete">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePostModalLabel">Are you absolutely sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><b>This action cannot be undone.</b> This will permanently delete the post.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submit-delete-post" type="submit" class="btn btn-danger">
                        Delete post
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>