<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="delete">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel">Are you absolutely sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><b>This action cannot be undone.</b></p>
                    <p>This will permanently delete the user account.</p>
                    <p>
                        Please type <i>delete</i> to confirm.
                        <div class="col-12">
                            <input id="confirm-delete-user" class="form-control " type="text" name="confirm_delete_user" placeholder="delete">
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submit-delete-user" type="submit" class="btn btn-danger" disabled>
                        Delete user
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>