<div class="card" style="border-radius: 15px;">
    <div class="card-body text-center">
        <div class="mt-3 mb-4">
            <a href="<%= user_path(user) %>">
                <img src="https://i.pravatar.cc/150?img=<%= user.id %>" alt="@<%= user.nickname %>" class="rounded-circle img-fluid" width="100">
            </a>
        </div>
        <h4 class="mb-2"><%= link_to user.full_name, user_path(user) %></h4>
        <p class="text-muted mb-4">@<%= user.nickname %> <span class="mx-2">|</span> <%= user.email %></p>
        <%= render "shared/user_stats", user: user %>
    </div>
    <div class="card-footer text-center">
        <%= render "users/user_action", user: user if signed_in? %>
    </div>
</div>
