<%= form_with model: current_user.active_relationships.build do |form| %>
    <%= hidden_field_tag :followed_id, user.id %>
    <%= form.submit "Follow", class: "btn btn-outline-primary" %>
<% end %>
