<%= form_with model: current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete } do |form| %>
    <%= form.submit "Unollow", class: "btn btn-outline-danger" %>
<% end %>
