<% if current_user?(user) %>
    <%= link_to "Edit", edit_user_path(user), class: "btn btn-outline-info" %>
<% elsif current_user.following?(user) %>
    <%= render "users/user_unfollow", user: user %>
<% else %>
    <%= render "users/user_follow", user: user %>
<% end %>
