<% provide(:title, "Edit #{@user.full_name} profile")%>

<div class="container-fluid">
    <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
                <h3 class="text-primary">Edit <%= @user.full_name %> profile</h3>
            </div>
            <%= form_with model: @user, url: user_path(@user) do |form| %>

                <%= render "shared/form_errors", errors: @user.errors %>

                <div class="mb-3 mt-3">
                    <%= form.label :full_name, class: "form-label" %>
                    <%= form.text_field :full_name, placeholder: "What is your name?", class: "form-control" %>
                </div>
                <div class="mb-3 mt-3">
                    <%= form.label :nickname, class: "form-label" %>
                    <%= form.text_field :nickname, placeholder: "Choose your nickname", class: "form-control" %>
                </div>
                <div class="mb-3 mt-3">
                    <%= form.label :email, class: "form-label" %>
                    <%= form.email_field :email, placeholder: "Enter email", class: "form-control", disabled: true %>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            <% end %>
        </div>
    </div>
</div>