<% provide(:title, "Users")%>

<%= will_paginate @clients, list_classes: %w(pagination justify-content-center) %>

<ul id="users" class="users">
    <% @users.each do |user| %>
        <div class="mb-4">
            <%= render user %>
        </div>
    <% end %>
</ul>

<%= will_paginate @clients, list_classes: %w(pagination justify-content-center) %>
<%= render "shared/modals/user_delete" %>
<%= javascript_include_tag "delete-user.js" %>