<% provide(:title, "Sign up")%>

<div class="container-fluid">
    <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
                <h3 class="text-primary">Sign Up</h3>
            </div>
            <%= form_with model: @user, url: users_path(@user) do |form| %>

                <%= render "shared/form_errors", errors: @user.errors %>

                <div class="mb-3 mt-3">
                    <%= form.label :full_name, class: "form-label" %>
                    <%= form.text_field :full_name, placeholder: "What is your name?", class: "form-control" %>
                </div>
                <div class="mb-3 mt-3">
                    <%= form.label :nickname, class: "form-label" %>
                    <%= form.text_field :nickname, placeholder: "Choose your nickname", class: "form-control" %>
                </div>
                <div class="mb-3 mt-3">
                    <%= form.label :email, class: "form-label" %>
                    <%= form.email_field :email, placeholder: "Enter email", class: "form-control" %>
                </div>
                <div class="mb-3">
                    <%= form.label :password, class: "form-label" %>
                    <%= form.password_field :password, placeholder: "And password", class: "form-control" %>
                </div>
                <div class="mb-3">
                    <%= form.label :password_confirmation, class: "form-label" %>
                    <%= form.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control" %>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
                <p>
                    <div class="text-center">
                        Already a member? Please <%= link_to "Sign in", signin_path %>
                    </div>
                </p>
            <% end %>
        </div>
    </div>
</div>