<% provide(:title, @title) %>

<div class="container user-profile">
    <div class="row d-flex">
        <div class="col-md-5 col-xl-5 justify-content-center align-items-center">
            <%= render @user %>
            <div class="mt-3">
                <% if @users.any? %>
                    <% @users.each do |user| %>
                        <a href="<%= user_path(user) %>">
                            <img src="https://i.pravatar.cc/150?img=<%= user.id %>" alt="@<%= user.nickname %>" width="40">
                        </a>
                    <% end %>
                <% end %>
            </div>
        </div>
        <% if @users.any? %>
            <div class="col-md-7 col-xl-7">
                <%= will_paginate @users, list_classes: %w(pagination justify-content-start) %>
                <% @users.each do |user| %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="card-text">
                                <img src="https://i.pravatar.cc/150?img=<%= user.id %>" alt="@<%= user.nickname %>" class="rounded-circle" width="60">
                                <%= link_to user.full_name, user_path(user) %>
                            </div>
                        </div>
                    </div>
                <% end %>
                <%= will_paginate @users, list_classes: %w(pagination justify-content-start) %>
            </div>
        <% end %>
    </div>
</div>