<% provide(:title, @user.full_name)%>

<div id="user-profile" class="container user-profile">
    <div class="row d-flex">
        <div class="col-md-4 col-xl-4 justify-content-center align-items-center">
            <%= render @user %>
        </div>
        <% if @user.posts.any? %>
            <div class="col-md-8 col-xl-8">
                <h3>Posts (<%= @user.posts.count %>)</h3>
                <%= will_paginate @posts, list_classes: %w(pagination justify-content-start) %>
                <% @posts.each do |post| %>
                    <%= render post %>
                <% end %>
                <%= will_paginate @posts, list_classes: %w(pagination justify-content-start) %>
            </div>
        <% end %>
    </div>
</div>
<%= render "shared/modals/user_delete" %>
<%= render "shared/modals/post_delete" %>
<%= javascript_include_tag "delete-user.js" %>
<%= javascript_include_tag "delete-post.js" %>