<% if errors.any? %>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">The form contains <%= pluralize(errors.count, "error") %>:</h4>
        <ul>
            <% errors .each do |error| %>
                <li>
                    <%= error.full_message %>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>
