<%= form_with model: @post, local: true, data: { turbo: false } do |form| %>
    <%= render "shared/form_errors", errors: @post.errors %>
    <div class="mb-3">
      <%= form.text_area :content, placeholder: "Compose new post", class: "form-control", rows: "3" %>
    </div>
    <div class="mb-3">
      <%= form.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "form-control" %>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
<% end %>
