<div class="d-flex justify-content-center text-center mb-2 user-stats">
    <a href="<%= user_path(user) %>">
        <div class="mx-2">
            <p class="mb-2 h5"><%= user.posts.count %></p>
            <p class="mb-0"><%= "post".pluralize(user.posts.count) %></p>
        </div>
    </a>
    <a href="<%= following_user_path(user) %>">
        <div class="mx-2">
            <p class="mb-2 h5"><%= user.following.count %></p>
            <p class="mb-0">following</p>
        </div>
    </a>
    <a href="<%= followers_user_path(user) %>">
        <div class="mx-2">
            <p class="mb-2 h5"><%= user.followers.count %></p>
            <p class="mb-0"><%= "follower".pluralize(user.followers.count) %></p>
        </div>
    </a>
</div>
 