<div id="<%= dom_id post %>" class="card mb-3">
    <div class="card-body">
        <p class="card-text">
            <%= post.content %>
            <% if post.image.attached? %>
                <%= image_tag post.image, width: "300" %>
            <% end %>
        </p>
        <p class="author-info">
            <small class="text-muted">
                <a href="<%= user_path post.user %>">
                    <img src="https://i.pravatar.cc/150?img=<%= post.user_id %>" alt="@<%=post.user.nickname%>" class="rounded-circle" width="20">
                    <%= post.user.full_name %>
                </a>
                <%= time_ago_in_words(post.created_at) %> ago
                <% if current_user?(post.user) %>
                    <%= link_to "delete", "#", class: "link-danger", data: { bs_toggle: "modal", bs_target: "#deletePostModal", action: post_path(post) } %>
                <% end %>
            </small>
        </p>
    </div>
</div>
