@import "bootstrap";

$gray: #555;
$gray-light: #777;
$gray-darker: #222;
/* main */
main {
    margin: 1rem 0 0;
}

/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $gray-light;

    a {
        color: $gray;

        &:hover {
            color: $gray-darker;
        }
    }

    .text-muted {
        float: left;
    }

    nav ul {
        float: right;
        list-style: none;

        li {
            float: left;
            margin-left: 15px;
        }
    }
}

/* form */
.field_with_errors {
    .form-control {
        color: $danger;
        border-color: $danger;
        box-shadow: $danger;
    }
}

form.button_to {
    display: inline-block;
}

.user-stats {
    a {
        text-decoration: none;
        &:hover{
            color: #6c757d !important;
        }
    }
}

.author-info {
    .text-muted {
        a {
            text-decoration: none;
            color: #394651 !important;

            &:hover{
                color: #8b9196 !important;
            }
        }
    }
}