<footer class="footer">
    <div class="text-muted">
        The <a href="https://bitbucket.org/1beat-aaron/aaron_ror_microblog/">Microblog</a>
        by <a href="https://github.com/aaronurkin/">Aaron Urkin</a>
    </div>
    <nav>
        <ul>
            <li>
                <%= link_to "About", about_path %>
            </li>
            <li>
                <%= link_to "Contact", contact_path %>
            </li>
            <li>
                <%= link_to "Help", help_path %>
            </li>
        </ul>
    </nav>
</footer>