<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <%= link_to "Microblog", root_path, class: "navbar-brand logo" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pull-right">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link" %>
                </li>
                <% if signed_in? %>
                    <li class="nav-item">
                        <%= link_to "Users", users_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="currentUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="currentUserDropdown">
                            <li><%= link_to "Profile", user_path(current_user), class: "dropdown-item" %></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><%= button_to "Sign out", signout_path, method: :delete, class: "dropdown-item" %></li>
                        </ul>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Sign in", signin_path, class: "nav-link" %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
